
body {
    font-family: "BeaufortW01-Regular";
    background: linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)), url('../../images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:white
}



*{
    box-sizing: border-box;
}


::placeholder{
    font-family: font("font3");
    font-weight: bold;
    text-transform: uppercase;
}



