@import url("//db.onlinewebfonts.com/c/2c37f3699d9728b566e9bdc5b11e5180?family=BeaufortW01-Regular");

@font-face {
    font-family: 'Friz Quadrata Std Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Italic'), url('./files/friz/friz-quadrata-std-italic-587033b2c95df.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Friz Quadrata Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Medium'), url('./files/friz/friz-quadrata-std-medium-5870338ec7ef8.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Friz Quadrata Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold'), url('./files/friz/friz-quadrata-std-bold-587034a220f9f.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Friz Quadrata Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Friz Quadrata Std Bold Italic'), url('./files/friz/friz-quadrata-std-bold-italic-587033d6d4298.woff') format('woff');
    }
