//COLLOR PALLETE
$color1: #F5D7AD;
$color2: #E18399;
$color3: #8D3782;
$color4:#92e9F9;



//BREAKPOINTS
$breakpoint-desktop:1200px;
$breakpoint-laptop:992px;
$breakpoint-mini-laptop:768px;
$breakpoint-tablet:576px;
$breakpoint-mobile:400px;