//COLLOR PALLETE
$color1:#3E3023;
$color2:#554624;
$color3:#AE914B;
$color4:#F4DE93;
$color5:#14555B;
$color6:#3A7875;
$color7:#A5F5D8;



//BREAKPOINTS
$breakpoint-desktop:1200px;
$breakpoint-laptop:992px;
$breakpoint-mini-laptop:768px;
$breakpoint-tablet:576px;
$breakpoint-mobile:400px;